*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
}

.Headers{
  display: flex;
  justify-content: flex-end;
  gap:10px;
  padding-right:20px;
  color: #707579;
  padding-top: 20px;
}

.Form{
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 200px;
  
  
}
.Footer{
  padding-top: 50px;
}
.First{
  border-bottom: 1px solid #707579;
  background-color: #dadce0;
  font-size: 15px;
  font-weight: 0;
  color: #707579;
  padding: 15px 30px;
}
.Second{
  display : flex;
  justify-content: space-between;
  background-color: #dadce0;
  font-size: 15px;
  font-weight: 0;
  color: #707579;
  padding: 15px 30px;
}

.Prepost{
  display : flex;
  gap: 5px;
}

.Midpost{

}

.Postpost{
  display : flex;
  gap: 5px;
}